
@import './base.css';

@layer base {
    body {
        @apply bg-[#fdf3f2]
    }
}

.hover-underline::after {
  /* Tạo thanh gạch chân bằng ::after */
  content: '';
  position: absolute;
  bottom: 5px; /* cách chữ một chút */
  left: 0;
  width: 100%;
  height: 8px;
  background: rgba(182, 126, 83, 0.3); /* cùng màu với chữ */
  
  /* Ban đầu: thanh co lại (không thấy) */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

/* Khi hover: thanh mở rộng từ trái sang phải */
.hover-underline:hover::after {
  transform: scaleX(1);
}

